{% for item in notary_list %}
    
<tr id="categ-id-{{item.id}}">
  <td>{{item.firstname}}</td>
  <td>{{item.lastname}}</td>
  <td>{{item.category}}</td>

  <td>{{item.bookno}}</td>
  <td>{{item.pageno}}</td>
  <td>{{item.recordno}}</td>
  <td>{{item.amount_paid}}</td>
  <td>
    <button 
    class="btn btn-info btn-sm js-update-modal-notary"  
    id="btn-modal-notary-update"  
    data-sid="{{item.id}}" 

    data-url="{% url 'app_notary:modal-notary-update' item.id %} 
    "><i class="bi bi-pencil"></i>

    </button> 
      &emsp;            
    <button class="btn btn-danger btn-sm js-delete-notary"  id="btn-modal-notary-delete"  
    
    data-url="{% url 'app_notary:modal-notary-delete' item.id %}">
    <i class="bi bi-trash3"></i>
    </button>
  </td>

</tr>
{%empty%}
<tr>
  <td colspan="8" class="text-center bg-warning">No entries</td>

</tr>
{% endfor %}