
{% load static %}

<div class="dashboard-info">

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Notary (Number of Records)</h5>

      <p class="card-text">{{no_of_Records}}</p>
      <!-- <a href="#" class="card-link">Card link</a> -->
      
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Total Sales</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
      <p class="card-text"> Total Sales : {{total_sales }}</p>
      
      <!-- <a href="#" class="card-link">Card link</a> -->
      
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      
    </div>
  </div>

</div>

<link rel="stylesheet" href="{% static 'css/custom-home.css' %}">