{% load crispy_forms_tags %}
{% load static %}
<div class="row">
  <div class="col-lg-6 col-sm-12">
    {{form.firstname|as_crispy_field}}

  </div>
  <div class="col-lg-6 col-sm-12">
    {{form.lastname|as_crispy_field}}

  </div>

</div>

<div class="row">
  <div class="col-lg-6 col-sm-12">
    {{form.category|as_crispy_field}}    
  </div>
  <div class="col-lg-6 col-sm-12">
    {{form.address|as_crispy_field}}    
  </div>

</div>


<div class="row">
  <div class="col-4">
    {{form.bookno|as_crispy_field}}
  </div>
  <div class="col-4">
    {{form.pageno|as_crispy_field}}
  </div>
  <div class="col-4">
    {{form.recordno|as_crispy_field}}
  </div>

</div>
<div class="row">
  <div class="col-6">
    {{form.amount|as_crispy_field}}
  </div>

  <div class="col-6">
    {{form.or_number|as_crispy_field}}
  </div>

</div>

<div class="row">
  <div class="col-6" id="myimage">
    {{form.myimage|as_crispy_field}}
  </div>

  <div class="image-view">
    <img id="display_myimage" src="#" alt="your image" />
  </div>

</div>


<div class="row">
  
  <div class="col-6" id="myfile" >
    {{form.myfile|as_crispy_field}}

  </div>
  <div class="image-view"></div>
  <img id="display_myfile" src="#" alt="your image" />
</div>
