{% load static %}
<div class="menu-btn">
  <i class="fas fa-bars"></i>
</div>

<div class="side-bar">

  <div class="close-btn">
    <i class="fas fa-times"></i>

  </div>

  <div class="menu">

    {% if user.is_authenticated %}
      <div class="item "><a href="#"><i class="fas fa-desktop"></i>Topics</a>
      </div>
      {% if not user.user.new_user %}
    

      <!-- document entries -->
      <div class="item ">
        <a class="sub-btn">
          <!-- inserting google icons material-symbols-outlined -->
          <span class="material-symbols-outlined icon1-submenu">post_add</span>
        &nbsp;
         Entries
          <i class="fas fa-angle-right dropdown"></i>
        </a>
        <div class="sub-menu">
          <div class="item ">
            <a href="{% url 'app_forms:dashboard'%}" class="sub-item">Notary entry</a>  
            <a href="{% url 'app_expenses:expense-dashboard'%}" class="sub-item">Expenses</a>    
          </div>  
        </div>
      </div>   
      <!-- other entris -->
      <div class="item ">
        <a class="sub-btn">
          <span class="material-symbols-outlined icon1-submenu">
            folder_special
            </span>&nbsp;
          Import Tables
          <i class="fas fa-angle-right dropdown"></i>
        </a>
        <div class="sub-menu">
          <a href="{% url 'app_import:import-excel-city' %}"  class="sub-item">Import City</a>
          <a href="{% url 'app_import:import-province-town' %}"  class="sub-item">Import Towns</a>
        </div>
      </div>
      <!-- Invoice entries -->
      <div class="item ">
        <a class="sub-btn">
          <span class="material-symbols-outlined icon1-submenu">
            folder_special
            </span>&nbsp;
         Invoice
          <i class="fas fa-angle-right dropdown"></i>
        </a>
        <div class="sub-menu">
          <a href="{% url 'app_invoice:invoice-create' %}"  class="sub-item">Create Invoice </a>

          <a href="{% url 'app_print:reprint-invoice' %}"  class="sub-item">Reprint Invoice xxx </a>          
        </div>
      </div>       

      <!-- General Files(sales)-->
       <div class="item ">
        <a class="sub-btn">
          <span class="material-symbols-outlined icon1-submenu">
            folder_special
            </span>&nbsp;
         General Files(Sales)
          <i class="fas fa-angle-right dropdown"></i>
        </a>
        <div class="sub-menu">
          <a href="{% url 'app_invoice:category-dashboard' %}"  class="sub-item">Category</a>

        </div>
      </div>      


      <!-- htmx -->
      
      <div class="item ">
        <a class="sub-btn">
          <!-- <i class="fas fa-cogs"></i> -->

          <span class="material-symbols-outlined icon1-submenu">
            code
            </span>
          HTMX tutorials
          <i class="fas fa-angle-right dropdown"></i>
        </a>
        <div class="sub-menu">
          <a href="{% url 'app_htmx:app-htmx-main'%}" class="sub-item">HTMX</a>        
          
        </div>
      </div>      
      <!-- cairo coders -->

      <div class="item ">
        <a class="sub-btn">
          <!-- <i class="fas fa-cogs"></i> -->
          <span class="material-symbols-outlined icon1-submenu">
            grade
            </span>           
          cairo coders
          <i class="fas fa-angle-right dropdown"></i>
        </a>
        <div class="sub-menu">
          <a href="{% url 'app_cairo:product-list' %}" class="sub-item">main sample</a>        
          
        </div>
      </div>    
      <!-- sample -->
      <div class="item ">
        <a class="sub-btn">sample 2 <i class="fas fa-angle-right dropdown"></i></a>
        <div class="sub-menu">
          <a href="" class="sub-item">sample 2 1</a>     
          <a href="" class="sub-item">sample 2 2</a>
          
        </div>
      </div> 

      <div class="item ">
        <a class="sub-btn">
          <i class="fas fa-cogs"></i>sample
          <i class="fas fa-angle-right dropdown"></i>
        </a>
        <div class="sub-menu">
          <div class="item ">
            <a class="sub-btn">
              <i class="fas fa-cogs"></i>sample 1
              <i class="fas fa-angle-right dropdown"></i>
            </a>
            <div class="sub-menu">
              <a href="" class="sub-item">sample 1 1</a>     
              <a href="" class="sub-item">sample 1 2</a>
              
            </div>
          </div>  
          <a href="" class="sub-item">sample 2</a>
          <div class="item ">
            <a class="sub-btn">
              <!-- <i class="fas fa-cogs"></i> -->
              sample 3
              <i class="fas fa-angle-right dropdown"></i>
            </a>
            <div class="sub-menu">
              <a href="" class="sub-item">sample 3 1</a>     
              <a href="" class="sub-item">sample 3 2</a>
              
            </div>
          </div> 
          
        </div>
      </div>    
      
      <!-- sample 2 -->
      <div class="item ">
        <a class="sub-btn">
          <i class="fas fa-cogs"></i>Nitty Gritty
          <i class="fas fa-angle-right dropdown"></i>
        </a>
        <div class="sub-menu">
          <div class="item ">
            <a class="sub-btn">
              <i class="fas fa-cogs"></i>Date
              <i class="fas fa-angle-right dropdown"></i>
            </a>
            <div class="sub-menu">
              <a href="{% url 'app_sample:date-sample' %}" class="sub-item">Dates</a>     
              <a href="" class="sub-item">sample 1 2</a>
              
            </div>
          </div>  
          <a href="{% url 'app_notary:notary-entry-modal' %}" class="sub-item">1. Notary Entry (modal)</a>  
          <a href="{% url 'app_notary_ver2:notaryv2-entry-modal' %}" class="sub-item">2. Notary Entry (modal ver 2)</a>                
          <a href="" class="sub-item">sample 2</a>
          <div class="item ">
            <a class="sub-btn">
              <i class="fas fa-cogs"></i>Pending
              <i class="fas fa-angle-right dropdown"></i>
            </a>
            <div class="sub-menu">
              <a href="{% url 'app_notary:notary-entry' %}" class="sub-item">xxx Notary Entry(pending ajax on edit case)</a>      
              <a href="" class="sub-item">sample 1 2</a>              
              <a href="" class="sub-item">sample 3 1</a>     
              <a href="" class="sub-item">sample 3 2</a>
              
            </div>
          </div> 
          
        </div>
      </div>    
             
      {% endif%}  

      <div class="item "><a href="{% url 'app_accounts:logout-view' %}"><i class="fas fa-info-circle"></i>Logout</a>
      </div>     
  

    {% else %}
      <div class="item ">
        <a href="{% url 'app_accounts:login-view' %}"><i class="fa-solid fa-door-open"></i>Login</a>
        


    </div>      
    {% endif %}  
    <div class="item "><a href="#"><i class="fas fa-info-circle"></i>About</a>
    </div>          

  </div>

</div>
  
<script type="text/javascript">
  $(document).ready(function(){
    // jquery for toggle menu
    $('.sub-btn').click(function(){
      // e.preventDefault();
      $(this).next('.sub-menu').slideToggle();
      $(this).find('.dropdown').toggleClass('rotate');


    })

    $('.menu-btn').click(function(){
      $('.side-bar').addClass('active');
      $('.menu-btn').css("visibility","hidden")

    })

    $('.close-btn').click(function(){
      $('.side-bar').removeClass('active')
      $('.menu-btn').css("visibility","visible")

    })
  

  })


</script>

<link rel="stylesheet" href="{% static 'css/custom-sidebar.css' %}">
