

#myvalidator-delete{
  background-color: rgba(228, 213, 213, 0.318);
  margin-top  : 3rem;
  padding : .5rem .3rem;
  
}
.show-record-data{
  color : black;
}
.data-info{
  padding-left :1rem;
}
.data-item span{
  color : blue;
}
.data-info{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.data-information{
  margin-top: 2rem;
}


#myvalidator-delete .username{
  margin-top  : 2rem;  
}
.data-to-delete{
  background-color: aqua;
  margin-top: 1rem;
}
.myform{
  padding :1rem;
  margin : auto;

}


@media  (max-width:700px){
  .body-area{
    margin : 1rem;
  }
  .data-information{
    margin-top: 1rem;
    margin-bottom : 2rem;
  }
  
}