
.table-container{
  /* background-color: rgba(127, 232, 202, 0.635); */
  padding : 1rem;
  
  
}
.table-container-wrapper{

  background-color: rgba(243, 242, 228, 0.412);
  padding : 1rem 1.5rem; 
  display : block;
  justify-content: center;
  align-items: center;
  border-radius: .6rem;
  width : 100%;
  box-shadow: 2px 5px 10px rgb(46, 46, 243);
  max-height : 40rem;
 
}

.table-container-wrapper h3{
  background-color : white;
  color: blue;
  
}

.table-wrapper{
  width :95%;
  
  max-height : calc(89% - 1.6rem) ;
  background-color: rgba(242, 239, 244, 0.949);
  margin :.8rem auto;
  border-radius: .6rem;

  overflow : auto;
}
 
.table-wrapper::-webkit-scrollbar{
  width: 1.5rem;
  height : .9rem;
  

}
.table-wrapper::-webkit-scrollbar-thumb{
border-radius: .5rem;
background-color: rgba(48, 48, 50, 0.464);
visibility: hidden;

}
.table-wrapper:hover::-webkit-scrollbar-thumb{
  visibility: visible;
  cursor: pointer;

}




table,
table th, 
table td{
  padding: .5rem ;
  
  font-size :16px;
  
}
th,td{
  /* border-spacing: 1em; */
  border-collapse: separate;
}


table thead tr th {
  font-size: 16px;
  position : sticky;
  top :0;
  left :0;
  background-color :teal;
  color : white;
  text-align: left;
 
  /* max-width: 100%; */
  overflow: hidden;
  /* text-overflow: ellipsis;
  white-space: nowrap;   */
}
table tbody tr td {
  text-transform: capitalize;
  color : blue;
 
  text-align: left;
  /* max-width: 100%; */
  
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  vertical-align: middle;


  
}


/* zebra strip */
tbody tr:nth-of-type(2n){
  background-color:rgba(198, 217, 123, 0.563) ;
}

/* hover on record */
tbody tr:hover{
  background-color: rgba(42, 195, 209, 0.837);
} 


table img{
  height : 35px;
  width:  35px;
  border-radius: 50%;
}

.col-number,
.col-amount{
  text-align: right;
}
.col-amount{
  color : rgb(135, 76, 13);
}
.col-amount-tax{
  color : rgb(7, 99, 66);
}
.col-amount-total{
  color : rgb(242, 15, 15);
}

.status{
  background-color: rgb(225, 5, 5);
  padding : 3px;
  margin:  0 2px;
  border-radius: 30px;
  color : white;
  text-align: center;
  
}
.status.posted{
  background-color: rgb(46, 249, 164);  
  color: rgb(3, 61, 3);
}

@media (max-width:700px) {
  table{
    border : 2px solid red;
  }
  table thead{
    display:none;
  }


  table th, 
  table td{
    /* display : block; */
    padding : .5rem;
    
    
  }
  table tr{
    display : block;
  }

  table tbody tr td {
    text-align: right;
    display :block;
    
  }
  table tbody tr td::before{
    content : attr(data-cell)" : ";
    text-transform: capitalize;
    float : left;
    color : black;
  } 
  .status{
   width :5rem;
   margin : auto;
   /* content : attr(posted)" : "; */
   float : right;



  }
  
}