{% extends 'main/base.html'%}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<section id="app-expenses-update" >
  <p class="username" > User: <strong class="imuser" >{{user}}</strong></p>

  <div class="body-area">

    <div class="row">
      <div class="col-lg-4 col md-4 col-sm-12 ">
        <div class="data-info">

          <div class="data-item">
            <p>Id : <span>{{datarec.id}}</span></p>
          </div>
          <div class="data-item data-item-line">
            <p>Item Number : <span>{{datarec.itemnumber}}</span></p>

            <p>Description : <span>{{datarec.description}}</span></p>
  
          </div>
          <div class="data-item">
            <p>Price : <span>{{datarec.price}}</span></p>
          </div>
        </div>


      </div>
      <div class="col-lg-8 col md-8 col-sm-12"  >
        <h3>Update Master Record  </h3>
        <form action=""    method="POST" enctype="multipart/form-data" >
          {% csrf_token %}
          <div class="form-row">
            {% include 'app_invoice/form-fields-masterfile.html' %}            
          </div> 
          <button type="submit" class="btn btn-primary" ><i class="fa-solid fa-floppy-disk"></i>Update Submit</button>

        
        </form>
        
       
      </div>
 
    </div>
    <button  class='btn btn-primary btn-sm' onclick="history.back()">Go Back</button>
</div>
</section>
<link rel="stylesheet" href="{% static 'css/table-css-2.css' %}">

<link rel="stylesheet" href="{% static 'css/app-expenses.css' %}">

<script src="{% static 'js/app-forms-entry.js' %}" ></script> 


{% endblock %}

