{% extends 'main/base.html'%}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<section id="sales-entry-add" >
  <p class="username" > User: <strong class="imuser" >{{user}}</strong></p>
  <div class="body-area">

    <div class="row ">
      <div class="form-title">
        <h5>Sales Entry add</h5>
      </div>



      <div class="form-entry" >
        
        <div class="card" >

          <div class="card-body">
            <form action="{% url 'app_invoice:sales-entry-add' %} " method="POST">

              {% csrf_token %}
              {{form.as_p}}
               
              <input type="submit" class='btn btn-primary btn-sm' value ="Save">         
           </form>
          </div>
          {% include 'include/error-messeges.html' %}              
        </div>
      </div>

  
    </div>
    <button  class='btn btn-primary btn-sm' onclick="history.back()">Go Back</button>
  </div>
</section>


<link rel="stylesheet" href="{% static 'css/app-invoice.css' %}">
<link rel="stylesheet" href="{% static 'css/table-css-2.css' %}">
<link rel="stylesheet" href="{% static 'css/table-other-css.css' %}">

<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
<script>
  
  $(document).ready(function(){
    // using jquery autocomplete UI
    $('#id_description').autocomplete({
      source: "{% url 'app_invoice:sales-entry-add' %}",
    });
   
  });

</script>


{% endblock %}

