{% extends 'main/base.html'%}
{% load static %}

{% block content %}


<section id="home" style="background-color: aliceblue;">
  <div class="body-area">
    <div class="container" >
      <div class="row">
        <div class="sidebar-area col-lg-3 col-md-3 col-sm-12 col-xs-12 " >
          <!-- load sidebar -->
          

        </div>
        <div class="detail-area col-lg-8 col-md-8 col-sm-12 col-xs-12"  >
          <h3>hOME Main Page</h3>

          
        </div>        

      </div>

    </div>



  </div>
</section>


<link rel="stylesheet" href="{% static 'css/custom-home.css' %}">

{% endblock %}