{% extends 'main/base.html'%}
{% load static %}

{% block content %}


<section id="home" >
  <div class="body-area">
    
      <div class="row ">

        <div class="sidebar-area col-lg-3 col-md-3 col-sm-12 col-xs-12 " >
          <h1>User</h1>
          {% include 'partials/dashboard-user.html' %}
          <!-- load sidebar -->
        </div>
        <div class="detail-area col-lg-9 col-md-9 col-sm-12 col-xs-12"  >
          
          <div class="gen-info">
            {% include 'partials/dashboard-info.html' %}
          </div>
          <div class="gen-details">
            {% include 'partials/dashboard-details.html' %}

          </div>
          
        </div>        

      </div>


  </div>
</section>

<link rel="stylesheet" href="{% static 'css/custom-home.css' %}">

{% endblock %}