{% extends 'main/base.html'%}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<section id="excel-import" >
  <div class="body-area">

    <div class="row ">
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 row-item"  >
      
        <form method="POST" enctype="multipart/form-data" onsubmit="return confirm('Are you sure?');">
          {%csrf_token%}
          <h3>Import Towns</h3>
          <input type="file" name="myfile" class ="btn btn-info">
          <button type ='submit'  class ="btn btn-primary">Upload</button>
        
        
        </form>
        <a type = "button" class="btn btn-primary"  href="{% url 'app_import:province-town-delete' %}">Empty Province/Towns file... </a>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 row-item"  >   
        <div class="notary-table">

          <table  id="myordersTable"  class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">Country</th>
                <th scope="col">Province</th>
                <th scope="col">Towns</th>
                <th scope="col">date imported</th>                
                <th scope="col">Action</th>
              </tr>
            </thead>
            
            <tbody id="tbody">
              {% for item in data %}
  
              <tr id="categ-id-{{item.id}}">
                <td>{{item.country}}</td>
                <td>{{item.province}}</td>


                <td>{{item.towns}}</td>                
                <td>{{item.created_at}}</td>

       
                <td>


                  <button class="btn btn-info btn-sm"  id="btn-edit"  data-sid="{{item.id}}" data-url="#">
                    <i class="bi bi-pencil"></i>
                    </button> &emsp;            
                  <button class="btn btn-danger btn-sm"  id="btn-delete"  data-sid="{{item.id}}" data-url="#{% url 'app_import:city-delete' %}">
                  <i class="bi bi-trash3"></i>
                  </button>
                </td>
             
              </tr>
              {% endfor %}
             
          </table>
  
        </div>
      </div>     

    </div>
</div>
</section>

<script src="{% static 'js/app-import-city.js' %}" ></script> 

<link rel="stylesheet" href="{% static 'css/app-import-city.css' %}">
<link rel="stylesheet" href="{% static 'css/table-css-2.css' %}">

{% endblock %}