{% extends 'main/base.html'%}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
Create Acc Rec
{% endblock%}

{% block content %}

<section id="section-createview-chrtacct">
  <div class="body-area">
    <h2>this is in the template view</h2>

    <form action="" method="POST" novalidate  >
      {%csrf_token%}
        
      <div class="row">
        {% include 'app_sample/form-fields-master.html' %}
      </div>


      <button type="submit" class="btn btn-primary" >Submit</button>        
 
    </form>
  </div>
</section>



<link rel="stylesheet" href="{% static 'css/app-sample-chrtrec-create.css' %}">

{% endblock %}