{% extends 'main/base.html'%}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<!-- <section id="user-section">
  <p class="username" > User: <strong class="imuser" >{{user}}</strong></p>
</section> -->
<section id="section-accounting-dashboard">
  <div class="body-area">
    <div class="button-area"  >
      <button class="btn btn-mybtn"><a href="{% url 'app_sample:create-master'%} "> Add Record</a></button>
      <button class="btn btn-mybtn"><a href="{% url 'app_sample:chrt_Listview'%} ">chart list view</a></button>

      <button class="btn btn-mybtn"><a href="{% url 'app_sample:template-view'%} ">Chartmast Template View </a></button>
      
      <!-- <button class="btn btn-mybtn"><a href="{% url 'app_sample:chrtmast-templateview2'%} ">template view2</a></button> -->

 

    </div>

    <div class="table-container"  >   
      <div class="table-container-wrapper">
        <h2>Chart of Accounts</h2>
        <div class="table-wrapper">
          <table id="tbl">
            <thead class="table-header">
              <tr>
                <th>Account Number</th>
                <th>Description</th>
                <th>Header/Detail</th>
                <th>Beginning Balance</th>
                <th colspan="2" >Action</th>
              </tr>
            </thead>
            <tbody class="table-body">
              {% if chrtmast %}
                  {% for item in chrtmast %}
                  <tr id="chrtmast-id-{{item.id}}">
                    
                    <td data-cell="accno">{{item.chrt_accno}}</td>
                    <td data-cell="desc" class = "col-black">
                      {{item.chrt_desc}}</td>
                    <td data-cell="Header/Detail" class = "col-black">{{item.chrt_H_D}}</td>

                    <td data-cell="begbal" class= "col-number">
                      <span class='beg-bal' >{{item.beg_bal}}</span>
                    </td>

                    <td  data-cell="update">
                      
                        <a href="{% url 'app_sample:update-chrtmast' item.id %}">
                        <button class="btn btn-info btn-sm ">
                          <i class="bi bi-pencil"></i>

                        </button>
                        </a>
                      
                    </td>
                    <td data-cell="delete">
                     
                        <a href="{% url 'app_sample:delete-record' item.id %}">
                          <button class="btn btn-danger btn-sm">
                          <i class="bi bi-trash3"></i>
                        </button>
                        </a>
                      
                    </td>   
                  </tr>        
                  {% endfor %}
              {% endif %}

            </tbody>
          </table>
        </div>
      </div>

    </div>  
    {% include 'include/error-messeges.html'%}      
    {{info}}

  </div> 
    <!-- end wrapper -->
    

</section>





<link rel="stylesheet" href="{% static 'css/app-sample-dashboard.css' %}">


<link rel="stylesheet" href="{% static 'css/table-format-general.css' %}">

<link rel="stylesheet" href="{% static 'css/table-formatting-specific-accounting-dashboard.css' %}">

{% endblock %}