
{% extends 'main/base.html'%}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<section id='section-student-deleteview'>
  <div class="body-area">
    <h2>Delete View (Student) </h2>
      <div class="button-area">

      </div>
      <form  method="POST">
        {%csrf_token%}
        <p>Are you sure you want to delete "<strong>{{StudentRec.studno}}</strong>?"
        </p>
     

    
          <button type="button" class=" btn btn-mybtn" onclick="history.back()" >Cancel</button>
          <input type="submit" value="Confirm"> 


     
      </form>
    </div>

</section>

<link rel="stylesheet" href="{% static 'css/app-sample-dashboard.css' %}">
<link rel="stylesheet" href="{% static 'css/app-sample-chart-delete.css' %}">
{% endblock %}