{% extends 'main/base.html'%}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}


<section id="create-master-ajax" >
  <p class="username" > User: <strong class="imuser" >{{user}}</strong></p>
  
  <div class="body-area" >

    <div class="row ">

      <div class="">
        <div class="form-entry-header"  >
          <h3 id = "header-form">Accounts Master File</h3>
        </div> 

        <form class='new_AccountCreate' data-url="{% url 'app_accounting:submitCreateNewRecord' %}"   action="#" method="POST">
          {%csrf_token%}
          <div class="row">
            {% include 'app_accounting/form-fields-master.html' %}
          </div>
          <div class="errordiv"></div>
          <button type="submit"  class="btn btn-primary save-newrecord-ajax" >Submit</button>        
        </form>
      </div>
    </div>
  </div>
</section>
<link rel="stylesheet" href="{% static 'css/app-account-master-create-form.css' %}">

<script src="{% static 'js/app-accounting-newrecord.js' %}" ></script> 

{% endblock %}