{% load crispy_forms_tags %}
{% load static %}
<div class="form-group"> 

  <div class="form-group-item col-lg-5 col-md-6 col-sm-12 col-xs-12">
    {{form.chrt_accno|as_crispy_field}}
  </div>

</div> 

<div class="form-group"> 
  <div class="form-group-item col-lg-12 col-md-12 col-sm-12 col-xs-12">
    {{form.chrt_desc|as_crispy_field}}
  </div>
</div> 
<div class="form-group"> 
  <div class="form-group-item col-lg-12 col-md-12 col-sm-12 col-xs-12">
    {{form.chrt_H_D|as_crispy_field}}
  </div>
</div> 
<div class="form-group"> 
  <div class="form-group-item col-lg-12 col-md-12 col-sm-12 col-xs-12">
    {{form.beg_bal|as_crispy_field}}
  </div>
</div>   
