{% extends 'main/base.html'%}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<section id="section-vouchercreation-updateview">
  <div class="body-area">
    <h2>Voucher Creation Update</h2>
  
    <form action="" method="POST" novalidate  >
    {%csrf_token%}
      
    <div class="row">
      {% include 'app_accounting/form-fields-voucher-group.html' %}
    </div>

 
    <button type="submit" class="btn btn-primary" >Submit</button>   
    
  </form>
</div>

</section>  
{% endblock  %}