

<form   
method='POST'  
action="{% url 'app_cairo:product_delete' product.id %}" class="js-product-delete-form ">

  {% csrf_token %}

  <div class="modal-header">
    <h4 class="modal-title">Confirm Product Deletion</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


  <div class="modal-body">
    <p class="lead">Are you sure you want to delete this item <strong>{{product.name}}</strong>?</p>
  </div>

  
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-danger" >Delete Product</button>

  </div>
  
</form>